body {
	background-color: #ece9e9;
	max-width: 100%;
	overflow-x: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



th, td {
    padding: 5px;
}

.sketch_container{
	width: 400px;
}

#results{
	width: 350px;
	height: 350px;
}

#contour{
	width: 350px;
	height: 350px;
}

.thumbnail{
	height: 500px;
}

#prediction{
	width: 450px;
	height: 350px;
}

.caption{
	text-align: center;
}

canvas { border: 1px solid #ccc }

.input-group{
	width: 380px;
}

span.input-group-addon{
	width: 160px;
}

input.form-control{
	margin-left: 20px;
	width: 200px;
}